html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: none;
    /* width: 700px; */
}
.home__item {
    width: 200px;
    height: 200px;
    padding: 40px;
    /* border: 1px solid #ccc; */
}
.home__item:hover {
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0,.08);
    cursor: pointer;
    transition-duration: 0.2s;
}
.iconfont {
    font-size: 60px !important;
}